# LaTex
latex/master.aux
latex/master.bbl
latex/master.blg
latex/master.blx-bib
latex/master.fdb_latexmk
latex/master.fls
latex/master.log
latex/master.out
latex/master.run.xml
latex/master.tdo
latex/master.thm
latex/master.toc
latex/synctex.gz
