* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: #333333;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}




#description-box {
    margin: auto;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 25px;
    max-width: 850px;
    position: relative;
    background-color: antiquewhite;
}

#back-to-top {
	place-self: end;
	position: sticky;
	margin-top: calc(100vh + var(--back-to-top-offset));
	bottom: 2.7em;
	right: 2em;
  float: right;
  background-color: #39ff14;
}