* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background-color: #333333;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}





#description-box {
    margin: auto;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 25px;
    max-width: 850px;
    position: relative;
}
