.nav_top {
  width: 100%;
  background-image: linear-gradient(to right, black, rgb(0, 0, 36), darkblue);
  color: rgb(186, 201, 210);
  text-align: center;
  align-items: center;
  display: flex;
  height: 110px;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.divLogo {
  width: 20%;
}
.logo {
  display: block;
  width: 95px;
}

.container{
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 100px;
	align-items: center;
	right: 0px;
}

.navbar_title{
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: smaller;
	height: 100%;
	width: 100%;
	align-items: center;
	padding: 1%;
}

.navbar_title:hover{
	background-color: rgb(142, 170, 190);
	transition: 0.3s;
}


.navbar_title a{
	text-decoration: none;
}

.navbar_title li a {
	transition: all 2s;
  }
  
  .navbar_title li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
  }
  .navbar_title li a:hover {
	color: #fff;
	z-index: 1;
  }
  .navbar_title li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
  }

/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#large-header {
  background-image: linear-gradient(
    to right,
    black,
    rgb(15, 23, 31),
    rgb(55, 90, 118)
  );
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
