.nav_top {
  width: 100%;
  background-image: linear-gradient(to right, black, rgb(0, 0, 36), darkblue);
  color: rgb(186, 201, 210);
  text-align: center;
  align-items: center;
  display: flex;
  height: 110px;
}

.topnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgb(185, 181, 181);
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-bottom: 10px;
}

.homebutton{
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589F;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}
.divLogo {
  width: 20%;
}
.logo {
  display: block;
  width: 200px;
}

.container{
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 100px;
	align-items: center;
	right: 0px;
}

.navbar_title{
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: smaller;
	height: 100%;
	width: 100%;
	align-items: center;
	padding: 1%;
}


.navbar_button {
  position: relative;
  display:block;
  height: 100%;
  width: 100%;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  color: #383736;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}


.navbar_button:before{
  position:absolute;  
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

.navbar_button:after {
  content: "";
  position: absolute;
  background:rgb(48,78,103);
  color:rgb(186, 201, 210);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -2;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}
.navbar_button:hover{
  color:white;
  border: 0px #d19b26 solid;
}
.navbar_button:hover:before {
  opacity: .8;
}
:hover:after {
  top: 0;
}
.navbar_button{
  -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
}

.navbar_button_active{
  position: relative;
  display:block;
  height: 100%;
  width: 100%;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  background:rgb(48,78,103);
  color: white;
  border-radius: 4px;
  border-color: rgb(48,78,103);
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#large-header {
  background-image: linear-gradient(
    to right,
    black,
    rgb(15, 23, 31),
    rgb(55, 90, 118)
  );
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
